<%=content_for :title, 'Locations | Griffith' %>

<h1> Locations </h1>

  <%= render 'layouts/header'%>

<p>Established in 1974, Griffith College provides a wide range of full and part-time certificate, diploma, degree and postgraduate courses and is home to over 7,000 students. Our campuses are easily accessible via car and public transport and centrally located within each city, so you have a wide range of amenities on your doorstep. Each campus has its own unique history and character. For more information on our locations in Cork, Dublin and Limerick please choose from the options below.</p>
